<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <title>Document</title>
</head>
<body>
    <%- include('./partials/header.ejs') %>

<body>
    <div class="container">
        <div class="newBlog"> 
            <form action="/api/blogs/new" method="POST" class="form" enctype="multipart/form-data">
                <h3>Новый Блог</h3>
                
                    <fieldset class="fieldset">
                        <input type="text" name="title" id="" placeholder="Введите заголовок блога">
                    </fieldset>
                    <fieldset class="fieldset">
                        <select name="category" id="">
                            <% 
                                categories.forEach(category =>{
                            %>
                                <option value="<%= category._id %>"><%= category.name%></option>
                            <%
                                }) %>
                        </select>
                    </fieldset>
                    <fieldset class="fieldset">
                        <label for="">Добавьте картинку блога</label>
                        <input type="file" name="image">
                    </fieldset>
                    <fieldset class="fieldset">
                        <textarea  name="description" id="comment-text" placeholder="Введите описание блога" cols="30" rows="10"></textarea>
                    </fieldset>
                    <fieldset class="fieldset">
                        <button type="submit">Создать</button>
                    </fieldset>
            </form>
        </div>
    </div>
    <%- include("partials/scripts.ejs") %>

</body>
</html>